In [24]:
savings = {
    'Jan': [45,80,12,10],
    'Feb': [0,100,159,20],
    'Mar': [30,20,45,90]
}

In [29]:
total_savings = []
for i in savings:
    total_savings += savings[i]
sum(total_savings)    # total_savings = sum(total_savings)

611

Refer to 2_27 github.io scraping wikipedia table

In [1]:
import pandas as pd

In [2]:
roster = {
    "Name": ["Kev","Kevin","Kevon","Kai"],
    "Major": ["Accounting","Finance","CIS","Cyber"],
    "GPA": [3.5,3.6,3.7,3.8],
    "Age": [22,23,24,25],
}

In [4]:
roster_df = pd.DataFrame(roster)
roster_df

    Name       Major  GPA  Age
0    Kev  Accounting  3.5   22
1  Kevin     Finance  3.6   23
2  Kevon         CIS  3.7   24
3    Kai       Cyber  3.8   25