In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

Choose a table on a web page (use your discretion) and scrape the contents to a csv file.
The table selected must have at least 3 numerical columns and at least 15 rows.

In [2]:
#scraping table on IFSC Climbing Wikipedia page

parser = BeautifulSoup(requests.get('https://en.wikipedia.org/wiki/IFSC_Climbing_World_Championships').content, 'html.parser')
#looking for specific table, with this class
tables = parser.find('table', {'class':'wikitable sortable plainrowheaders jquery-tablesorter'})

In [30]:
#converting parsed table into a dataframe using pandas method, read_html.
df = pd.read_html(str(tables))

#dropping last row, as it will give wonky values for our result.
IFSC_Rankings = pd.DataFrame(df[0]).set_index('Rank').drop(index='Totals (23 nations)')

In [37]:
#converting to a CSV file
IFSC_Rankings.to_csv(r'ifsc_climbing_rankings.csv',index=False)

In [31]:
IFSC_Rankings

                    Nation  Gold  Silver  Bronze  Total
Rank
1             Russia (RUS)    16      14      23     53
2            Austria (AUT)    13       6       8     27
3             France (FRA)    12      14      17     43
4            Ukraine (UKR)    11       7       5     23
5           Slovenia (SLO)     7       6       5     18
6     Czech Republic (CZE)     6      10       4     20
7              Japan (JPN)     5       8       6     19
8             Poland (POL)     5       4       8     17
9              China (CHN)     5       3       1      9
10             Italy (ITA)     5       1       2      8
11             Spain (ESP)     4       5       0      9
12     United States (USA)     3       7       3     13
13       South Korea (KOR)     3       5       1      9
14       Switzerland (SUI)     3       1       5      9
15            Canada (CAN)     3       1       0      4
16           Belgium (BEL)     2       6       0      8
17           Germany (GER)     2       5       8     15
18              Iran (IRI)     1       1       2      4
19        Kazakhstan (KAZ)     0       1       3      4
20         Venezuela (VEN)     0       1       0      1
21     Great Britain (GBR)     0       0       4      4
22            Serbia (SRB)     0       0       2      2
23       Netherlands (NED)     0       0       1      1

We're curious about the Nations with the highest numbers of medals, as we want to know: 
1. Where are the strongest competitive climbers located
2. What sets them apart from other nations climbers, what are they doing differently?

Finding the average in total metals

In [39]:
avg_medals = IFSC_Rankings['Total'].mean()
avg_medals

13.91304347826087

In [44]:
#Filtering out Nations that fall below the average of medals won
avg_filter = IFSC_Rankings['Total'] >= avg_medals
filtered_avg_rankings = IFSC_Rankings[avg_filter].so

#interesting insight that some countries rankings are quality over quantity such as Austria and Ukraine.
filtered_avg_rankings

                    Nation  Gold  Silver  Bronze  Total
Rank
1             Russia (RUS)    16      14      23     53
2            Austria (AUT)    13       6       8     27
3             France (FRA)    12      14      17     43
4            Ukraine (UKR)    11       7       5     23
5           Slovenia (SLO)     7       6       5     18
6     Czech Republic (CZE)     6      10       4     20
7              Japan (JPN)     5       8       6     19
8             Poland (POL)     5       4       8     17
17           Germany (GER)     2       5       8     15

Let's look a little closely, at the 75th percentile of medal earners and compare our data!

In [43]:
percentile_rankings = IFSC_Rankings['Total'].quantile(.75)
percentile_rankings

18.5

In [46]:
#filtering out our data by 75% value 
percentile_filter = IFSC_Rankings['Total'] >= percentile_rankings
filtered_percentile_rankings = IFSC_Rankings[percentile_filter]
filtered_percentile_rankings

                    Nation  Gold  Silver  Bronze  Total
Rank
1             Russia (RUS)    16      14      23     53
2            Austria (AUT)    13       6       8     27
3             France (FRA)    12      14      17     43
4            Ukraine (UKR)    11       7       5     23
6     Czech Republic (CZE)     6      10       4     20
7              Japan (JPN)     5       8       6     19

One interesting insight from our data that we can see is that 6/7 of the Nations that are in the IFSC rankings are in Europe, with Japan being the sole outlier even amongst the top 8 total medal winners.
There's two actionable insights that we can take further into our data:
1. Looking into Russia and their abnormal amount of medals, (which in total double Austria, at second place)
2. Look into Japan, our interesting outlier Nation not in Europe, (who also has a lot of strong and fan favorite athletes such as Tomoa Narasaki and Miho Nonaka of who I'm big fans of!)